.nav {
  height: 50px;
  padding: 10px;
  background:
		linear-gradient(#6c747a, #1b1b27);
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.nav ul {
  display: flex;
  justify-content: center;
  align-items: center;
  list-style: none;
}

.nav ul li a {
  margin: 5px 15px;
}